<section class="block container">
  <div class="block__header">
    <h2 class="block__heading">heading</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti eos blanditiis similique, delectus
      reiciendis
      minima in corporis molestias! Maxime, eveniet!</p>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <div class="block__header">
      <h2 class="block__heading">heading</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti eos blanditiis similique, delectus
        reiciendis
        minima in corporis molestias! Maxime, eveniet!</p>
    </div>
  </div>
</section>